@page "/weather-server"
@rendermode InteractiveServer
@inject WeatherDataService bizSvc

<PageTitle>Weather Server</PageTitle>

<h1>Weather Server | SSR</h1>
<p>This component demonstrates showing data.</p>

<button @onclick=HandleQuery class="btn btn-primary">刷新</button>

<div class="alert alert-warning my-3" role="alert">
  使用 SignalR 與伺服器端通訊。
</div>

@if (f_loading)
{
  <p><em>Loading...</em></p>
}
else if(forecasts != null)
{
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp. (C)</th>
        <th>Temp. (F)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var forecast in forecasts)
      {
        <tr>
          <td>@forecast.Date.ToShortDateString()</td>
          <td>@forecast.TemperatureC</td>
          <td>@forecast.TemperatureF</td>
          <td>@forecast.Summary</td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  WeatherForecast[]? forecasts;
  bool f_loading = false;

  protected override async Task OnInitializedAsync()
  {
    await HandleQuery();
  }

  async Task HandleQuery()
  {
    f_loading = true;
    forecasts = await bizSvc.QueryDataListAsync();
    f_loading = false;
  }
}
